<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Laundry___Dormitory.Properties.Settings.AddMenuDTBConnectionString"
            connectionString="Data Source=DLMG;Initial Catalog=AddMenuDTB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Laundry___Dormitory.Properties.Settings.DormDTBConnectionString"
            connectionString="Data Source=DLMG;Initial Catalog=DormDTB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Laundry___Dormitory.Properties.Settings.DormDTBConnectionString1"
            connectionString="Data Source=LAPTOP-2GIQGPEP;Initial Catalog=DormDTB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Laundry___Dormitory.Properties.Settings.DormDTBConnectionString2"
            connectionString="Data Source=LAPTOP-SPR4SQLD;Initial Catalog=DormDTB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>